.icon-email{
    padding-right: 25px;
    background: url(../images/icons/customer.svg) no-repeat right;
    background-size: auto;
    color: black;
    background-color: white;
    border: none;
    height: 40px;
}
.icon-password{
    padding-right: 25px;
    background: url(../images/icons/customer.svg) no-repeat right;
    background-size: auto;
    background-color: white;
    border: none;
    height: 40px;
}
.mx-8{
    margin: 7rem;
}
.login-button{
    border: none;
    height: 34px;
    color: white;
    border-radius: 2px;
}
.forgot-password-link{
    text-decoration: none;
    color: rgb(104, 159, 168);
}
@media screen and (max-width:576px) {
    .mx-8{
        margin: 4rem;
    }
}
