@model userEmail
@{
    ViewData["Title"] = "Forgot Password Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row d-flex justify-content-center align-items-center">
    <img class="col" src="~/images/logos/pizzashop_logo.png" height="70px" width="70px">
    <div class="col fs-2 pizza-shop-header">
        PIZZASHOP
    </div>
</div>
<form asp-controller="Home" asp-action="sendEmailLink" method="post" class="row">
    <div class="row w-100">
        <p class="col fs-3 welcome-text mx-8 my-1">Forgot Password</p>
    </div>
    <div class="row w-100">
        <P class="col mx-8 my-1 recover-text"> enter your email and we'll send you a link to reset your password.</P>
    </div>
    <div class="row w-100">
        <input type="email" placeholder="" asp-for="Email" name="Email" class="icon-email col mx-8 my-2">
    </div>
    <div class="row d-flex w-100">
        <button class="send-button col mx-8 my-2" type="submit">Send</button>
    </div>
    <div class="row w-100">
        <div class="col d-flex w-100 justify-content-center align-items-center my-2">
            <a class="row text-decoration-none" asp-controller="Home" asp-action="Index">
                Back to Login
            </a>
        </div>
    </div>
</form>
<script src="~/js/site.js"></script>