@model UserDemo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row d-flex justify-content-center align-items-center">
    <img class="col" src="images/logos/pizzashop_logo.png" height="70px" width="70px">
    <div class="col fs-2 pizza-shop-header">
        PIZZASHOP
    </div>
</div>
<div class="row w-100">
    <p class="col fs-3 welcome-text mx-8 my-1">Welcome,</p>
</div>
<form asp-controller="Main" asp-action="Content" method="post" class="row">
    <div class="row w-100">
        <input type="email" asp-for="Email" placeholder="E-mail" class="icon-email form col mx-8 my-2">
    </div>
    <div class="row w-100">
        <input type="password" asp-for="Password" placeholder="password" class="icon-password col mx-8 my-2">
    </div>
    <div class="row w-100 d-flex align-items-center justify-content-center my-3">
        <div class="form-check col mx-8 d-flex">
            <input type="checkbox" asp-for="IsRemember" class="form-check-input row" id="exampleCheck1">
            <label class="form-check-label row mx-3 " for="exampleCheck1" asp-for="IsRemember">Remember Me</label>

            <div class=" col forgot-password-div ">
                <a class="forgot-password-link " asp-controller="Home" asp-action="ForgotPassword">Forgot Password?</a>
            </div>
        </div>
    </div>
    <div class="row w-100">
        <button type="submit" class="login-button col mx-8 my-2">Login</button>
    </div>
</form>
