@model Userdetail
@{
    Layout = "~/Views/Shared/_SecondLayout.cshtml";
    ViewData["Title"] = "Page Title";
}       
        <div class="row-11 d-flex my-2 ">
          <div class="col-6 text-Users-title fs-2">
            Add New User
          </div>
          <div class="col-6 d-flex justify-content-end">
            <a asp-controller="Main" asp-action="Content" class="text-decoration-none back-button mx-1 p-2">
              Back
            </a>
          </div>
        </div>
        <form>
        <div class="add-user-frame">
          <div class="form-floating row m-2">
            <input class=" col m-2 p-3" placeholder="" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">First Name</label>
            <input class=" col m-2 p-3" placeholder="Last Name" id="floatingTextarea2"></textarea>
            <label for="floatingTextarea2"></label>
          </div>
          <div class="row m-2">
            <input type="textbox" class="col m-2 p-3" placeholder="User Name">
            <select class="form-select col m-2 p-3" aria-label="Default select example">
              <option selected>Select role</option>
              <option value="1">Chef</option>
              <option value="2">Account Manager</option>
              <option value="3">Admin</option>
            </select>
          </div>
          <div class="row m-2">
            <input type="textbox" class="col m-2 p-3" placeholder="Email">
            <input type="textbox" class="col m-2 p-3" placeholder="Password">
          </div>
          <div class="row m-2">
            <button class="select-profile-picture col d-flex flex-column justify-content-center align-items-center m-2 p-3">
              <img src="images/icons/customer.svg" class="m-2" alt="">
              Browse-files
            </button>
          </div>
          <div class="row m-2">
            <select class="form-select col m-2 p-3" aria-label="Default select example">
              <option selected>Select Country</option>
              <option value="1">India</option>
              <option value="2">Japan</option>
            </select>
            <select class="form-select col m-2 p-3" aria-label="Default select example">
              <option selected>Select State</option>
              <option value="1">Gujarat</option>
              <option value="2">Rajasthan</option>
            </select>
            <select class="form-select col m-2 p-3" aria-label="Default select example">
              <option selected>Select City</option>
              <option value="1">Ahmedabad</option>
              <option value="2">Surat</option>
            </select>
          </div>
          <div class="row m-2">
            <input type="textbox" class="col m-2 p-3" placeholder="Zipcode">
            <input type="textbox" class="col m-2 p-3" placeholder="Address">
            <input type="textbox" class="col m-2 p-3" placeholder="Phone">
          </div>
          <div class="row m-2 my-3">
            <div class="col my-2">
              <button type="submit" class="create-user-button p-2">
                Create User
              </button>
              <button class="cancel-user-button p-2">
                Cancel
              </button>
            </div>
          </div>
</form>
</div>
</div>