@model ChangePassword
@{
    Layout = "~/Views/Shared/_SecondLayout.cshtml";
    ViewData["Title"] = "Page Title";
}
<div class="row text-Users-title fs-2">Change Password </div>
<form asp-controller="Main" asp-action="DoChangePassword" id="formCheckPassword"
    class="change-password-container d-flex flex-column" method="post">
    <div class="row my-5">
        <div class=" col-12 w-100 m-1">
            <p>Enter a new password to update your account credentials</p>
        </div>
        <div class="col-12 w-50 m-2 d-flex flex-column">
            <input asp-for="CurrentPassword" id="CurrentPassword" type="password" name="CurrentPassword"
                placeholder="current Password*" class="icon-password">
                <strong class="text-danger">@TempData["Message"]</strong>
        </div>

        <div class="col-12 w-50 m-2 d-flex flex-column">
            <input asp-for="NewPassword" id="NewPassword" type="password" placeholder="New Password*"
                class="icon-password">
        </div>
        <div class="col-12 w-50 m-2 d-flex flex-column">
            <input asp-for="ConfirmNewPassword" id="ConfirmNewPassword" type="password"
                placeholder="Confirm New Password*" class="icon-password">
        </div>
        <div class="col-12 w-100">
            <button type="submit" class="cancel-permissions">
                Submit
            </button>
            <button type="submit" asp-controller="Main" asp-action="Content" class="save-users-button">
                Cancel
            </button>
        </div>
    </div>
</form>
</div>
</div>

<script>

        $("#formCheckPassword").validate({

            rules: {
                CurrentPassword: {
                    required: true,
                },
                NewPassword: {
                    required: true,
                },
                ConfirmNewPassword: {
                    required: true,
                    equalTo: "#NewPassword",
                }
            },
            messages: {
                CurrentPassword: {
                    required: "The current password is required",
                },
                NewPassword: {
                    required: "New password is required",
                },
                ConfirmNewPassword: {
                    required: "Confirm password required",
                    equalTo: "New Password And confirm new password should be equal",
                }
            },


            submitHandler: function (form) {
                form.submit();
            }

        });
</script>