@model ResetPasswordModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row d-flex justify-content-center align-items-center">
    <img class="col" src="~/images/logos/pizzashop_logo.png" height="70px" width="70px">
    <div class="col fs-2 pizza-shop-header">
        PIZZASHOP
    </div>
</div>
<div class="row w-100 p-0">
    <p class="col fs-3 welcome-text mx-8 my-1 p-0">Reset Your Password</p>
</div>
<form class="row" asp-controller="Home" asp-action="ResetPassword" method="post">
    <div class="row w-100">
        <input type="hidden" asp-for="Email">
        <div class="col mx-8 my-2 position-relative w-100 p-0">
            <input type="password" asp-for="NewPassword" name="NewPassword" placeholder="New Password"
                class="icon-password col w-100 align-items-center" id="password">
            <i class="bi bi-eye-slash" id="togglePassword"></i>
        </div>
    </div>
    <div class="row w-100">
        <div class="col mx-8 my-2 position-relative w-100 p-0">
            <input type="password" asp-for="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm New Password"
                class="icon-password col w-100 align-items-center" id="password">
            <i class="bi bi-eye-slash" id="togglePassword"></i>
        </div>
    </div>
    <div class="row d-flex w-100">
        <button type="submit" class="submit-button col mx-8 my-2">Submit</button>
    </div>
    <div class="row w-100">
        <div class="col d-flex w-100 justify-content-center align-items-center my-2">
            <a asp-controller="Home" asp-action="Index" class="row text-decoration-none">
                Back to Login
            </a>
        </div>
    </div>
</form>
