@model List<Userrole>
@{
    Layout = "~/Views/Shared/_SecondLayout.cshtml";
    ViewData["Title"] = "Roles Management";
}

<div class="mt-5 bg-white p-5">
    

    <div class="table-responsive">
        <table class="table ">
            <thead>
                <tr>
                    <th>Role Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var role in Model)
                {
                    <tr>         
                        <td>@role.Rolename</td>
                        <td>
                            <a href="@Url.Action("Permissions", "Main", new { roleId = role.Roleid })" 
                               class="text-decoration-none"><i class="fa-solid fa-pen text-decoration-none"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>