@{
    Layout = "~/Views/Shared/_SecondLayout.cshtml";
    ViewData["Title"] = "OrderDetails";
}
<div class="row-11 d-flex align-items-center justify-content-center">
    <div class="row" style="width: 1000px;">
        <div class="text-Users-title my-3 mx-2 fs-2 col-6">
            Order-Details
        </div>
        <div class="col my-3 text-align-right">
            <button class="btn btn-primary">
                Back
            </button>
        </div>
        <div class=" col-12 my-3 bg-white table-shadow p-2">
            <div class="row-12 d-flex w-100 align-items-center">
                <p class=" col-3 fs-4 ">Order Summary</p>
                <p class="order-status fs-5 col-2">InProgress</p>
                <div class="col-7 d-flex justify-content-end p-2">
                    <button class="row px-3 p-2 send-button export-button ">
                        <div class=" d-flex">
                            <i class=" fa-solid fa-file-export my-2"></i>
                            <p class=" my-1">Export</p>
                        </div>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    Invoice No :
                </div>
                <div class="col-1">
                    #123
                </div>
            </div>
            <div class="row w-100">
                <div class="col-2 w-auto">
                    Paid On:
                </div>
                <div class="col-1 w-auto">
                    22-10-2024 11:30
                </div>
                <div class="col-2 w-auto">
                    Placed On:
                </div>
                <div class="col-1 w-auto">
                    22-10-2024 11:30
                </div>
                <div class="col-2 w-auto">
                    Modified On:
                </div>
                <div class="col-1 w-auto">
                    22-10-2024 11:30
                </div>
                <div class="col-2 w-auto">
                    Order Duration:
                </div>
                <div class="col-1 w-auto">
                    15:30
                </div>
            </div>
        </div>
        <div class="col-6 bg-white table-shadow">
            <div class="row d-flex">
                <i class="fa-regular fa-user col"></i>
                <p>
                    Customer-Details
                </p>
            </div>
            <div class="row">
                <p class="col">Name: JohnDoe</p>
            </div>
            <div class="row">
                <p class="col">Phone: 1234567890</p>
            </div>
            <div class="row">
                <p class="col">No. Of Person: 7</p>
            </div>
            <div class="row">
                <p class="col">Email : john@test.com</p>
            </div>
        </div>
        <div class="col-6 bg-white table-shadow">
            <div>
                <i class="fa-solid fa-chair"></i>
                <p>
                    Table Details
                </p>
            </div>
            <div class="row">
                <p class="col">Table: T3</p>
            </div>
            <div class="row">
                <p class="col">Section: Groundfloor</p>
            </div>
        </div>
        <div class="col-12 my-2 bg-white table-shadow">
            <p>Order Items</p>
            <div class="table-responsive row m-2">
                <table class="table ">
                    <thead>
                        <tr>
                            <th scope="col" class="text-black-50">Sr.no</th>
                            <th scope="col" class="text-black-50">Item</th>
                            <th scope="col" class="text-black-50">Quantity</th>
                            <th scope="col" class="text-black-50">Price</th>
                            <th scope="col" class="text-black-50">Total Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>
                                Grilled Burger
                                <!-- modifiers -->
                                <ul>
                                <li>
                                    tomato
                                </li>
                                <li>
                                    capsicum
                                </li>
                                </ul>
                            </td>
                            <td>
                                2
                                <ul>
                                    <li>
                                        2
                                    </li>
                                    <li>
                                        2
                                    </li>
                                </ul>
                            </td>
                            <td>
                                70.00
                                <ul>
                                    <li>
                                        10.00
                                    </li>
                                    <li>
                                        15.00
                                    </li>
                                </ul>
                            </td>
                            <td>
                                140
                                <ul>
                                    <li>
                                        20
                                    </li>
                                    <li>
                                        30
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="justify-content-end  col">
                <p> SubTotal: 399.00</p>
                <p> SGST: 39.00</p>
                <p> CGST: 39.00</p>
                <p> GST: 39.00</p>
                <p> Other: 39.00</p>
                <p> Total: 599.00</p>
            </div>
        </div>
    
    </div>