@{
    Layout = "~/Views/Shared/_SecondLayout.cshtml";
    ViewData["Title"] = "OrderDetails";
}
<div class="row d-flex">
    <div class="text-Users-title my-3 mx-2 fs-2 col-3">
        Order-Details
    </div>