@model List<Entity.ViewModel.PermissionViewModel>
@{
    Layout = "~/Views/Shared/_SecondLayout.cshtml";
    ViewData["Title"] = "Taxes";
}

    <div class="row-11 d-flex my-2">
          <div class="col-6 text-Users-title fs-2">
            Taxes/Fees
          </div>
          <div class="col-6 d-flex justify-content-end">
            <a asp-action="Users" asp-controller="Main">
            <button class="back-button">
              Back
            </button>
            </a>
          </div>
        </div>
    